.item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90px;
  background-color: ghostwhite;
  border: 1px solid grey;
  box-shadow: 1px 2px 1px rgba(2, 28, 28, 0.12),
    1px 2px 2px rgba(2, 28, 28, 0.14), 0px 1px 3px rgba(2, 28, 28, 0.2);
  margin-bottom: 10px;
}

.online {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.offline {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.avatar {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgba(2, 28, 28, 0.12),
    1px 2px 2px rgba(2, 28, 28, 0.14), 0px 1px 3px rgba(2, 28, 28, 0.2);
}

.name {
  font-size: 20px;
  margin: 0;
}

.friends {
  width: 460px;
  display: flex;
  justify-content: center;
  background-color: lavenderblush;
  border-radius: 10px;
  padding: 25px 0;
  margin: 40px 0;
}

.friend_list {
  width: 280px;
  padding: 0;
  margin-bottom: 6px;
}
